@charset "UTF-8";

/* Mobile First */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}


body, html {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}



 section#login {
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
} 

section#login > div#imagem {
    display: block;
    background: var(--lilas) url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: .8em;
}

form > div.campo {
    background-color: var(--lilas);
    display: block;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}


form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 5px;

}

form > input[type=submit]:hover {
    background-color: green;
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: var(--verde);
    border: 1px solid var(--verde);
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
   background-color: rgb(48, 60, 131);
   color: white;
}


form > a.botao > i {
    font-size: 0.8em;
}