@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.container{
    height: 100vh;
    width: 100vw;
    border: 3px solid red;
    display: grid;

    grid-template: 100px 50px 1fr 50px / 1fr 150px;
}

 header {
    background-color: blue;
    grid-area: 1 / 1 / 2 / 3;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.menu {
    background-color: gray;
    grid-area: 2 / 1 /3 / 3;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: brown;
    grid-area: 3 / 1 / 4 / 2;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.secundario {
    background-color: rgb(3, 104, 11);
    grid-area: 3 / 2 / 4 / 3;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: aqua;
    grid-area: 4 / 1 / -1 / -1;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}